version: "3.3"
services:
  db:
    image: blsq/postgis:16
    ports:
      - "5433:5432"
    volumes:
      - ./storage/db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${IASO_DB_NAME}
      POSTGRES_USER: ${IASO_DB_USER}
      POSTGRES_PASSWORD: ${IASO_DB_PASSWORD}

  iaso:
    image: ghcr.io/blsq/iaso@sha256:${IASO_VERSION}
    ports:
      - "8081:8081"
    links:
      - db
    depends_on:
      - db
    environment:
      PREPAREDNESS_TEMPLATE_ID:
      PREPAREDNESS_TEMPLATE_FR_ID:
      PLUGINS:
      FAVICON_PATH:
      LOGO_PATH:
      APP_TITLE:
      GOOGLE_API_KEY_BASE64:
      THEME_PRIMARY_COLOR:
      THEME_SECONDARY_COLOR:
      THEME_PRIMARY_BACKGROUND_COLOR:
      USE_S3: "true"
      AWS_STORAGE_BUCKET_NAME: ${IASO_STORAGE_BUCKET_NAME:-iaso-prod}
      AWS_ACCESS_KEY_ID: ${MINIO_ROOT_USER}
      AWS_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD}
      AWS_S3_ENDPOINT_URL: ${MINIO_URL}
      IASO_ENVIRONMENT: "production"
      RDS_HOSTNAME: ${IASO_DB_HOST:-db}
      RDS_DB_NAME: ${IASO_DB_NAME}
      RDS_USERNAME: ${IASO_DB_USER}
      RDS_PASSWORD: ${IASO_DB_PASSWORD}
      DB_READONLY_USERNAME: ${IASO_DB_USER}
      DB_READONLY_PASSWORD: ${IASO_DB_PASSWORD}
      SECRET_KEY: ${IASO_SECRET_KEY}
      ENKETO_API_TOKEN: ${ENKETO_API_TOKEN}
      ENKETO_URL: ${ENKETO_URL}
      DATABASE_URL: postgres://${IASO_DB_USER}:${IASO_DB_PASSWORD}@${IASO_DB_HOST:-db}/${IASO_DB_NAME}
      BACKGROUND_TASK_SERVICE: POSTGRES
{% if TLS_ENABLED %}      
{% else %}
      DISABLE_SSL_REDIRECT: 1
{% endif %}
    entrypoint: ./entrypoint.sh
    command: start
    networks:
      - proxy
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"      
{% if TLS_ENABLED %}
      - "traefik.http.routers.iaso.entrypoints=websecure"
      - "traefik.http.routers.iaso.middlewares=no-auth-secured@file"
      - "traefik.http.routers.iaso.rule=Host(`${IASO_DOMAIN_NAME}`)"
      - "traefik.http.routers.iaso.tls.certresolver=lets-encrypt"
      - "traefik.http.routers.iaso.tls.options=mintls12@file"
{% else %}
      - "traefik.http.routers.iaso.rule=Host(`${IASO_DOMAIN_NAME}`)"
      - "traefik.http.routers.iaso.entrypoints=web"
{% endif %}
      - "traefik.http.services.iaso.loadbalancer.passhostheader=true"

  iaso-worker:
    image: ghcr.io/blsq/iaso@sha256:${IASO_VERSION}
    restart: always
    command: manage tasks_worker
    entrypoint: ./entrypoint.sh
    links:
      - db
    depends_on:
      - db
    environment:
      PREPAREDNESS_TEMPLATE_ID:
      PREPAREDNESS_TEMPLATE_FR_ID:
      PLUGINS:
      FAVICON_PATH:
      LOGO_PATH:
      APP_TITLE:
      GOOGLE_API_KEY_BASE64:
      THEME_PRIMARY_COLOR:
      THEME_SECONDARY_COLOR:
      THEME_PRIMARY_BACKGROUND_COLOR:
      USE_S3: "true"
      AWS_STORAGE_BUCKET_NAME: iaso-prod
      AWS_ACCESS_KEY_ID: ${MINIO_ROOT_USER}
      AWS_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD}
      AWS_S3_ENDPOINT_URL: ${MINIO_URL}
      IASO_ENVIRONMENT: "production"
      RDS_HOSTNAME: ${IASO_DB_HOST:-db}
      RDS_DB_NAME: ${IASO_DB_NAME}
      RDS_USERNAME: ${IASO_DB_USER}
      RDS_PASSWORD: ${IASO_DB_PASSWORD}
      DB_READONLY_USERNAME: ${IASO_DB_USER}
      DB_READONLY_PASSWORD: ${IASO_DB_PASSWORD}
      SECRET_KEY: ${IASO_SECRET_KEY}
      ENKETO_API_TOKEN: ${ENKETO_API_TOKEN}
      ENKETO_URL: ${ENKETO_URL}
      DATABASE_URL: postgres://${IASO_DB_USER}:${IASO_DB_PASSWORD}@${IASO_DB_HOST:-db}/${IASO_DB_NAME}
      BACKGROUND_TASK_SERVICE: POSTGRES
    networks:
      - proxy
      - default

networks:
  proxy:
    external: true
