version: "3.9"
services:
  hesabu-db:
    image: postgres:${HESABU_POSTGRES_VERSION}
    volumes:
      - ./storage/db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${HESABU_POSTGRES_USER}
      POSTGRES_PASSWORD: ${HESABU_POSTGRES_PASSWORD}
      POSTGRES_DB: ${HESABU_POSTGRES_DB}

  hesabu-redis:
    image: redis:${HESABU_REDIS_VERSION}    
    command: redis-server --requirepass ${HESABU_REDIS_PASSWORD}    
    volumes:
      - ./storage/redis:/data 

  hesabu-web:
    image: blsq/hesabu:${HESABU_VERSION}
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    networks: 
      - proxy
      - default
    ports:
      - "4000:3000"
    depends_on:
      - hesabu-db
      - hesabu-redis
    environment:
      - REDIS_URL=redis://:${HESABU_REDIS_PASSWORD}@hesabu-redis:6379
      - DATABASE_URL=postgres://${HESABU_POSTGRES_USER}:${HESABU_POSTGRES_PASSWORD}@${HESABU_POSTGRES_HOST:-hesabu-db}:5432/${HESABU_POSTGRES_DB}
      - ADMIN_PASSWORD=${HESABU_ADMIN_PASSWORD}      
      - RAILS_ENV=production
      - RAILS_SERVE_STATIC_FILES=true
      - DISABLE_FORCE_SSL=TRUE
      - RACK_ENV=production
      - SECRET_KEY_BASE=${HESABU_SECRET_KEY_BASE}
      - RAILS_ACTIVE_STORAGE=${HESABU_RAILS_ACTIVE_STORAGE:-minio}
      - S3_SIMULATION_ACCESS=${MINIO_ROOT_USER}
      - S3_SIMULATION_BUCKET=${HESABU_S3_SIMULATION_BUCKET:-simulation}
      - S3_SIMULATION_REGION=${HESABU_S3_SIMULATION_REGION:-us-east-1}
      - S3_SIMULATION_SECRET=${MINIO_ROOT_PASSWORD}
      - S3_SIMULATION_ENDPOINT=${MINIO_URL}
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=proxy'
{% if TLS_ENABLED %}
      - 'traefik.http.routers.hesabu.entrypoints=websecure'
      - 'traefik.http.routers.hesabu.middlewares=no-auth-secured@file'
      - 'traefik.http.routers.hesabu.rule=Host(`${HESABU_DOMAIN_NAME}`)'
      - 'traefik.http.routers.hesabu.tls.certresolver=lets-encrypt'
      - 'traefik.http.routers.hesabu.tls.options=mintls12@file'
{% else %}
      - 'traefik.http.routers.hesabu.entrypoints=web'
      - 'traefik.http.routers.hesabu.middlewares=no-auth-secured@file'
      - 'traefik.http.routers.hesabu.rule=Host(`${HESABU_DOMAIN_NAME}`)'
{% endif %}
      - "traefik.http.services.hesabu.loadbalancer.passhostheader=true"

      - "ofelia.enabled=true"
      # job1 to flag in db jobs no more appearing in sidekiq
      - "ofelia.job-exec.invoicing_jobs.schedule=@every 10m"
      - "ofelia.job-exec.invoicing_jobs.command=rake invoicing_jobs:discard"
      # job2 to remove from sidekiq queue duplicated jobs
      - "ofelia.job-exec.duplicate_jobs.schedule=@every 11m"
      - "ofelia.job-exec.duplicate_jobs.command=rake duplicate_jobs:clear"

  ofelia:
    image: mcuadros/ofelia:latest
    restart: always
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
      
      
  hesabu-worker:
    image: blsq/hesabu:${HESABU_VERSION}
    command: bash -c "bundle exec sidekiq -q dhis2-safe -q default"
    depends_on:
      - hesabu-db
      - hesabu-redis
    environment:
      - REDIS_URL=redis://:${HESABU_REDIS_PASSWORD}@hesabu-redis:6379
      - DATABASE_URL=postgres://${HESABU_POSTGRES_USER}:${HESABU_POSTGRES_PASSWORD}@hesabu-db:5432/${HESABU_POSTGRES_DB}
      - RAILS_ENV=production
      - RAILS_SERVE_STATIC_FILES=true
      - RACK_ENV=production
      - SECRET_KEY_BASE=${HESABU_SECRET_KEY_BASE}
      - RAILS_ACTIVE_STORAGE=minio
      - S3_SIMULATION_ACCESS=${MINIO_ROOT_USER}
      - S3_SIMULATION_BUCKET=simulation
      - S3_SIMULATION_REGION=us-east-1
      - S3_SIMULATION_SECRET=${MINIO_ROOT_PASSWORD}
      - S3_SIMULATION_ENDPOINT=${MINIO_URL}

networks:
  proxy:
    external: true      